body.dark-theme {
    background-image: url("../img/dark.png");
    background-size: 25%;
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
    color: #790073;
}

body.dark-theme::-webkit-scrollbar-track {
    background: #000000c9;
    border: 1px solid #dd53ffc4;
    box-shadow: 0px 0px 20px 5px #cc00ff;
}

body.dark-theme::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #2c2c2c, #464646);
    border: 1px solid #dd53ffc4;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 5px #cc00ff;
}

body.dark-theme::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #1d1d1d, #444444);
}

body.dark-theme .vidro {
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #dd53ffc4;
    border-bottom: 2px solid #dd53ffc4;
    border-left: 2px solid #dd53ffc4;
    background: #00000085;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .caixa {
    background: linear-gradient(#000000a6 0%, #72008185 50%, #72008185 50%, #000000a6 100%);
    border: 1px solid #dd53ffc4;
    box-shadow: 0 2px 20px #e100ff85;
    color: #790073;
}

body.dark-theme #switchTema {
    border: 2px solid #dd53ffc4;
    background: #00000085;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .botao {
    background: linear-gradient(#7a7a7adc 0%, #4c504fdc 50%, #363636c9 50%, #242424c9 100%);
    box-shadow: inset 0px 1px 4px 1px #d711ffe0;
    color: white;
}

body.dark-theme .botao::before {
    box-shadow: 0px 0px 20px 5px #cc00ff;
}

body.dark-theme .botao:hover::before {
    opacity: 1;
}

body.dark-theme .botao:active {
    background: linear-gradient(#5e5e5edc 0%, #3e4140dc 50%, #2b2b2bc9 50%, #111111c9 100%);
}

body.dark-theme .usuario img {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    border: 1px solid #000000c2;
}

body.dark-theme .userFrame {
    border: 2px solid #d321ff6c;
    background: #a200ff3a;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .userFrame img{
    border-radius: 50%;
}

body.dark-theme .bannerFrame {
    border: 2px solid #d321ff6c;
    background: #a200ff3a;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .banner {
    background: url("../img/space.gif");
    opacity: 0.8;
    color: #ecd897;
    text-shadow: black 0 0 10px;
}

#switchTema {
    display: inline-block;
    width: 60px;
    height: 30px;
    border: 2px solid #b0faff6c;
    background: #002fff1a;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #00000085;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s, border 0.3s, box-shadow 0.3s;
}

body.dark-theme #switchTema {
    border: 2px solid #dd53ffc4;
    background: #00000085;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #e100ff85;
}

#transitionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

#iconeSwitch {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 
        left 1.2s ease, 
        transform 1.2s ease, 
        background-image 0.3s ease;
    transform: rotate(0deg);
}

#botaoTema:checked + #switchTema #iconeSwitch {
    left: 33px;
    transform: rotate(360deg);
}


#botaoTema:checked + #switchTema #iconeSwitch {
    left: 33px;
}

#logoOragame{
    width: 25px;
    height: auto;
    padding-right: 2px;
}

#logoOragameGrande{
    width: 175px;
    height: auto;
    padding-right: 2px;
}

body.dark-theme .gameFrame{
    border: 2px solid #dd53ffc4;
    background: #00000085;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .gameFrame img{
    border: 2px solid #dd53ffc4;
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .gameFrame:hover img{
    box-shadow: 0 2px 40px #e100ff85;
}

body.dark-theme .footer {
  width: 76vw;
  background: #00000085;
  backdrop-filter: blur(5px);
  border-top: 2px solid #dd53ffc4;
  padding: 30px 20px 10px;
  color: #790073;
  text-shadow: #a10099 0 0 12px;
  box-shadow: 0 -5px 25px #00000060;
  font-family: 'Segoe UI', sans-serif;
  align-items: center;
}

body.dark-theme .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

body.dark-theme .footer-section {
  flex: 1 1 250px;
}

body.dark-theme .footer-section a {
  color: #b91bb4;
  text-decoration: none;
}

body.dark-theme .footer-section a:hover {
  text-decoration: underline;
  color: #ff7bf8;
}

body.dark-theme .footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #b0faff9f;
}

body.dark-theme .comprar-button {
    background: linear-gradient(#7a7a7adc 0%, #4c504fdc 50%, #363636c9 50%, #242424c9 100%);
    box-shadow: inset 0px 1px 4px 1px #d711ffe0;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

body.dark-theme .comprar-button:hover {
    box-shadow: 0px 0px 20px 5px #cc00ff;
    transform: translateY(-2px);
}

body.dark-theme .comprar-button:active {
    background: linear-gradient(#5e5e5edc 0%, #3e4140dc 50%, #2b2b2bc9 50%, #111111c9 100%);
    transform: translateY(0);
}

body.dark-theme .buttonspart{
    border-left: 2px solid #dd53ffc4;
    border-right: 2px solid #dd53ffc4;
    border-top: 1px solid #dd53ffc4;
    border-bottom: 1px solid #dd53ffc4;
    background: #00000050;
    box-shadow: 0 2px 40px #00000085;
}

body.dark-theme .buttonspart::before{
content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      #9000a336 1px, 
      transparent 1px
    ),
    linear-gradient(
      90deg, 
      #9000a336 1px, 
      transparent 1px
    );
  background-size: 10px 10px;
  pointer-events: none;
}

body.dark-theme .buttonspart2{
    border-left: 2px solid #dd53ffc4;
    border-right: 2px solid #dd53ffc4;
    border-top: 1px solid #dd53ffc4;
    border-bottom: 1px solid #dd53ffc4;
    background: #00000050;
    box-shadow: 0 2px 40px #00000085;
}

body.dark-theme .buttonspart2::before{
content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      #9000a336 1px, 
      transparent 1px
    ),
    linear-gradient(
      90deg, 
      #9000a336 1px, 
      transparent 1px
    );
  background-size: 10px 10px;
  pointer-events: none;
}

body.dark-theme .banner2{
    border: 2px solid #dd53ffc4;
    background:url("../img/dk.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

