@media (max-width: 600px) {
  body {
    margin: 10px;
    background-attachment: scroll; /* fixed pode causar problemas em mobile */
  }

  .vidro {
    width: 90vw;
    height: auto; /* para altura ajustar automaticamente */
    padding: 15px 10px;
  }

  .caixa {
    font-size: 40px; /* reduzir o tamanho da fonte */
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .container, .container2, .container3 {
    flex-direction: column; /* empilha ao invés de ficar lado a lado */
  }

  .gameFrame {
    width: 90vw; /* maior largura e adapta */
    height: auto;
    margin-bottom: 15px;
  }

  .botao {
    min-width: 100%;
    font-size: 16px;
    padding: 10px;
  }

  .botoes {
    margin-left: 0;
    right: auto;
    justify-content: center;
    position: static;
    margin-bottom: 10px;
  }

  .usuario img {
    width: 40px;
    height: 40px;
  }

  .userFrame {
    width: 60px;
    height: 60px;
  }

  /* Ajustar alturas e larguras que estejam fixas em vh ou vw */

  #bolhasCanvas {
    height: 100vh; /* 125vh pode ultrapassar e causar scroll */
  }
}
