<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Boleto Frutiger Aero</title>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="static/js/boleto.js" defer></script>
</head>
<body>
  <div class="frutiger-container">
    <h1 class="frutiger-title">🧾 BOLETO FRUTIGER AERO</h1>

    <label for="id_pagamento">ID do Jogo:</label>
    <input type="number" id="id_pagamento" placeholder="Ex: 1">

    <div id="boletoBrick_container"></div>
  </div>
</body>
</html>
