<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Game</title>
    <link href="{{ url_for('static', filename='css/estilo4.css') }}" rel="stylesheet">
</head>

<body>

    <div class="bolhas">
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
    </div>

    <div class="pai">

        <div class="usuario">

            <a href="/user">{{usuario}}</a>

            <div class="userFrame">
                <img src="{{ url_for('static', filename='img/user.jpg') }}">
            </div>
        </div>

        <div class="vidro">

            <div class="barra">

                <img class="logo" src="{{ url_for('static', filename='img/oragame.png') }}">
                <a href="/home">OraGame</a>

                <div class="botoes">
                    <button class="minimizar"><b>-</b></button>
                    <button class="maximizar"><b>+</b></button>
                    <button class="fechar"><b>x</b></button>
                </div>

            </div>

            <div class="centralizar">
                <div class="caixa">
                    <img class="logo">
                    {{nome}}
                </div>

                <div class="container">
                    <div class="esquerda">
                        <div class="slider-holder">
                            <div class="slideshow-container">

                                <div class="mySlides fade">
                                    <img src="{{ url_for('static', filename=img1) }}" style="width:100%; height:500px;">
                                    <div class="text"> </div>
                                </div>
                                <br>

                                <a href="/Download" class="comprar-button">Download</a>
                                <a href="/ia" class="comprar-button">Duvidas</a>
                            </div>
                            <br>
                            <script>
                                let slideIndex = 1;
                                showSlides(slideIndex);

                                function plusSlides(n) {
                                    showSlides(slideIndex += n);
                                }

                                function currentSlide(n) {
                                    showSlides(slideIndex = n);
                                }

                                function showSlides(n) {
                                    let i;
                                    let slides = document.getElementsByClassName("mySlides");
                                    let dots = document.getElementsByClassName("dot");
                                    if (n > slides.length) { slideIndex = 1 }
                                    if (n < 1) { slideIndex = slides.length }
                                    for (i = 0; i < slides.length; i++) {
                                        slides[i].style.display = "none";
                                    }
                                    for (i = 0; i < dots.length; i++) {
                                        dots[i].className = dots[i].className.replace(" active", "");
                                    }
                                    slides[slideIndex - 1].style.display = "block";
                                    dots[slideIndex - 1].className += " active";
                                }
                            </script>

                        </div>
                    </div>
                    <div class="direita">
                        <img class="group_img" src="{{ url_for('static', filename=img3) }}" width="512" height="384" style="position: relative; left: 170px; top: -10px;">
                        <p class="desc">
                            {{descrição}}
                        </p>

                        <p class="desc">
                        <h2> Requisitos mínimos: </h2>
                        {{requisitos}}<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
