<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>

    <link href="{{ url_for('static', filename='css/estilo.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='js/animacaoindex.js') }}" defer></script>
</head>

<body>
    <div id="transitionOverlay"></div>

    <canvas id="bolhasCanvas"></canvas>

    <div class="pai">

        <div class="usuario">
            <input type="checkbox" id="botaoTema" hidden>
            <label for="botaoTema" id="switchTema">
                <span id="iconeSwitch"></span>
            </label>
            <a href="/user">{{usuario}}</a>

            <div class="userFrame">
                <img src="{{ url_for('static', filename='img/user.jpg') }}">
            </div>
        </div>

        <div class="vidro"> 

            <div class="barra">
                <img id="logoOragame" style="width: 25px; height: auto;" src="{{ url_for('static', filename='img/oragame.png') }}">
                <a href="/home">OraGame</a>

            </div>

            <div class="centralizar">
                <div class="caixa">
                    <img id="logoOragameGrande" style="width: 175px; height: auto;" src="{{ url_for('static', filename='img/oragame.png') }}">
                    Bem Vindo!
                </div>
            </div>

            <div class="botoes2">
                <a class="botao" href="/games">Games</a>
                <a class="botao" href="/sobre">Sobre</a>
            </div>

            <br>

            <center>
                <div class="bannerFrame">
                    <div class="banner"></div>
                </div>
            </center>

        </div>

    </div>

</body>

</html>
