<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Sobre</title>
    <link href="{{ url_for('static', filename='css/estilo5.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/upbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dark.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/animacaoindex2.js') }}" defer></script>
</head>
<body>
    <div id="transitionOverlay"></div>

    <canvas id="bolhasCanvas"></canvas>
    <div class="pai">
        <div class="usuario">
            <a href="/user">{{usuario}}</a>
            <div class="userFrame">
                <img src="{{ url_for('static', filename=img_user) }}">
            </div>
        </div>

        <div class="buttonspart2">
            <div class="botoes2">
                <a class="botao" href="/home"><img class="icon-button" src="../static/img/home-icon.png"
                        alt="house_icon">Home </a>
                <a class="botao" href="/games"><img class="icon-button" src="../static/img/game-icon.png"
                        alt="house_icon"> Games</a>
                        {% if usuario != "Visitante" %}
                        <a class="botao" href="/my_games"><img class="icon-button" src="../static/img/game-icon.png"
                            alt="house_icon"> My Games</a>
                        {% endif %}
                <a class="botao" href="/fliperama"><img class="icon-button" src="../static/img/fr-icon.png"
                        alt="house_icon"> Fliperama </a>
                <a class="botao" href="/sobre"><img class="icon-button" src="../static/img/about-icon.png"
                        alt="house_icon"> Sobre </a>

                    <div class="rightbuttons">
                        <input type="checkbox" id="botaoTema" hidden>
                        <label for="botaoTema" id="switchTema">
                            <span id="iconeSwitch"></span>
                        </label>

                        <a class="settingsbutton" flex="end" href="/home"><img src="../static/img/settings-icon.png"
                         alt="settings" height="40px" width="40px"> </a>
                    </div>
            </div>
        </div>

        <div class="vidro">
            <div class="centralizar">
                <br><br>
                <div class="caixa">
                    <img id="logoOragameGrande" src="{{ url_for('static', filename='img/oragame.png') }}">
                    Sobre
                </div>

                <div class="container">
                    <div class="esquerda">
                        <h2> Sobre</h2>
                        <p>Nosso site ofereçe uma váriedades de jogos e conteúdos legais para </p>

                        <h2>Contato</h2>
                        <p>"Insira os contatos aqui"</p>

                        <h2>Atualizações</h2>
                        <div class="updates-box">
                            <div class="update-table">
                                <table class="bordered">
                                    <tr>
                                        <td><b>28/05/25</b></td>
                                        <td>Teste Changelog</td>
                                    </tr>
                                    <tr>
                                        <td><b>30.01.25</b></td>
                                        <td>Teste Changelog 2</td>
                                    </tr>
                                    <tr>
                                        <td><b>29.01.25</b></td>
                                        <td>Teste Changelog 3<td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br> <br>
                        <div class="group_img">
                            <img id="fundo" src="{{ url_for('static', filename='img/fundo.gif') }}" height="200" width="667" style="border-radius: 15px;">
                        </div>
                    </div>
                    <div class="direita">
                        <div class="centralizar">
                            <h2>Grupo</h2>
                        </div>
                        <div class="group_img">
                            <center><img src="{{ url_for('static', filename='img/group_img.png') }}" width="375" height="250">
                                <br>
                                <div class="flex-container-5x5">
                                    <div class="usuario">
                                        <a href="{{ url_for('static', filename='user/user.php') }}">Daniel</a>
                                        <div class="userFrame">
                                            <img src="{{ url_for('static', filename='img/gordon.png') }}">
                                        </div>
                                    </div>

                                    <div class="usuario">
                                        <a href="{{ url_for('static', filename='user/user.php') }}">Nicolas</a>
                                        <div class="userFrame">
                                            <img src="{{ url_for('static', filename='img/jogodobixo.jpg') }}">
                                        </div>
                                    </div>
                                    <div class="usuario">
                                        <a href="{{ url_for('static', filename='user/user.php') }}">Antonio</a>
                                        <div class="userFrame">
                                            <img src="{{ url_for('static', filename='img/godzilla.jpg') }}">
                                        </div>
                                    </div>
                                    <div class="usuario">
                                        <a href="{{ url_for('static', filename='user/user.php') }}">Felipe</a>
                                        <div class="userFrame">
                                            <img src="{{ url_for('static', filename='img/brabo.webp') }}">
                                        </div>
                                    </div>

                                    <div class="flex-container-5x5">
                                        <div class="usuario">
                                            <a href="{{ url_for('static', filename='user/user.php') }}">Samuel</a>
                                            <div class="userFrame">
                                                <img src="{{ url_for('static', filename='img/samuel.png') }}">
                                            </div>
                                        </div>

                                        <div class="usuario">
                                            <a href="{{ url_for('static', filename='user/user.php') }}">Hendrill</a>
                                            <div class="userFrame">
                                                <img src="{{ url_for('static', filename='img/hendrill.png') }}">
                                            </div>
                                        </div>
                                        <div class="usuario">
                                            <a href="{{ url_for('static', filename='user/user.php') }}">Maria</a>
                                            <div class="userFrame">
                                                <img src="{{ url_for('static', filename='img/maria.png') }}">
                                            </div>
                                        </div>
                                        <div class="usuario">
                                            <a href="{{ url_for('static', filename='user/user.php') }}">Vinicius</a>
                                            <div class="userFrame">
                                                <img src="{{ url_for('static', filename='img/vinicius.jpg') }}">
                                            </div>
                                        </div>

                                        <div class="usuario">
                                            <a href="{{ url_for('static', filename='user/user.php') }}">Luiz</a>
                                            <div class="userFrame">
                                                <img src="{{ url_for('static', filename='img/luiz.png') }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
</body>
</html>
