<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <title>DOOM</title>
    <link href="../static/estilo4.css" rel="stylesheet">

</head>

<body>

    <div class="bolhas">
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
        <div class="bolha"></div>
    </div>

    <div class="pai">

        <div class="usuario">

            <a href="../user/user.php">"UserName"</a>

            <div class="userFrame">
                <img src="../img/.gif">
            </div>
            <!--                
                Essa área do banco para registrar o nome do usuario ao site
                e imagem também
                                                                        -->
        </div>

        <div class="vidro">

            <div class="barra">

                <img class="logo" src="../img/oragame.png">
                <a href="../index/index.php">OraGames</a>

                <div class="botoes">
                    <button class="minimizar"><b>-</b></button>
                    <button class="maximizar"><b>+</b></button>
                    <button class="fechar"><b>x</b></button>
                </div>

            </div>

            <div class="centralizar">
                <div class="caixa">

                    <img class="logo">
                    The Binding of Isaac=
                </div>

                <div class="container">
                    <div class="esquerda">
                        <div class="slider-holder">
                            <div class="slideshow-container">

                                <div class="mySlides fade">
                                    <div class="numbertext">1 / 3</div>
                                    <img src="../img/ultrakill.png" style="width:100%" height="500">
                                    <div class="text"> </div>
                                </div>
                                <br>


                                <a href="../sobre/sobre.html" class="comprar-button"> Comprar</a>

                            </div>
                            <br>
                            <script>
                                let slideIndex = 1;
                                showSlides(slideIndex);

                                function plusSlides(n) {
                                    showSlides(slideIndex += n);
                                }

                                function currentSlide(n) {
                                    showSlides(slideIndex = n);
                                }

                                function showSlides(n) {
                                    let i;
                                    let slides = document.getElementsByClassName("mySlides");
                                    let dots = document.getElementsByClassName("dot");
                                    if (n > slides.length) { slideIndex = 1 }
                                    if (n < 1) { slideIndex = slides.length }
                                    for (i = 0; i < slides.length; i++) {
                                        slides[i].style.display = "none";
                                    }
                                    for (i = 0; i < dots.length; i++) {
                                        dots[i].className = dots[i].className.replace(" active", "");
                                    }
                                    slides[slideIndex - 1].style.display = "block";
                                    dots[slideIndex - 1].className += " active";
                                }
                            </script>

                        </div>
                    </div>
                    <div class="direita">

                        <img class="group_img" src="../img/ultrakill.jpg" width="460" height="215">
                        <p class="desc">ULTRAKILL é um FPS independente que combina a ação frenética de jogos clássicos
                            como DOOM e Quake com um sistema de combate baseado em combos e estilo que lembra jogos de
                            hack and slash como Devil May Cry.
                            O jogador assume o controle de V1, um robô movido a sangue, que desce
                            ao Inferno para colher o sangue de demônios e humanos para se manter funcionando.
                        </p>

                        <p class="desc">
                            Data de lançamento: 3 de setembro de 2020 (Acesso Antecipado) <br>
                            Desenvolvedor: Arsi "Hakita" Patala <br>
                            Distribuidora: New Blood Interactive <br>
                        </p>

                        <p class="desc">
                        <h2> Requisitos mínimos: </h2>
                        Sistema Operacional: Windows 7/8/10 <br>
                        Processador: 2.4 GHz Dual Core (Intel i3 ou equivalente)<br>
                        Memória RAM: 2 GB<br>
                        Placa de Vídeo: GeForce GT 440 / Radeon HD 5550 (ou superior)<br>
                        Espaço em Disco: 2 GB<br>
                        </p>
                    </div>
                </div>
            </div>

</body>

</html>